<footer class="border-top footer text-muted">

    <div class="container text-center">
        &copy; 2019 - Derek Core 3 Razor Pages Contoso |
        Bucks New University |
        BSc Computing |
        CO550 Web Applications
        <br />
        <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> |
        <a href="#">About</a> |
        <a href="#">Contact</a>
    </div>
</footer>
